name: Check Maven Central Key expiration

on:
  schedule:
    - cron: "0 0 * * 1" # every monday at midnight
  # Allow to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  key-expiration-checker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v6
      - name: Set up just
        uses: extractions/setup-just@v3
      - name: Verify gpg key expiration date
        run: just check-cert
        env:
          GPG_SIGNING_KEY_BASE64: ${{ secrets.GPG_SIGNING_KEY_BASE64 }}
